.idea/
.gradle/
.kotlin/
build/
bin/
.DS_Store
__pycache__/
dist/
python/html/
python/latex/
python/selfie-lib/selfie_lib.egg-info/
python/pytest-selfie/pytest_selfie.egg-info/
node_modules/
.pytest_cache/