/* Header */

.navigation {
    background: url("../images/background_floral.webp");
    background-repeat: repeat-x;
    background-size: 500px;
    height: 170px;
}

/* Header - robot */
.selfie-container {
    display: flex;
    position: relative;
    z-index: 4;
}

.selfie-sidebar-spacer {
    width: 280px;
}

.selfie-main {
    flex: 1;
}

.selfie-main-content {
    max-width: 1160px;
    margin: auto;
    position: relative;
}

.selfie-navigation-bot {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -65px;
    right: 16px;
    z-index: 10;
    transform: translateY(var(--selfie-bot));
}

/* Header - search */
#pages-search svg path {
    fill: var(--color-dark) !important;
}

/* Header - language filters */

.selfie-filter-section {
    position: absolute;
    top: 32px;
    right: 4px;
    z-index: 10;
}

/* Footer */
.selfie-footer-bot {
    width: 400px;
    height: 450px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer {
    background: url("../images/background_seaside.webp");
    background-repeat: repeat-x;
    background-size: 500px;
    min-height: 125px;
}
