on:
  push:
    branches: [main]
  pull_request:
    paths:
      - 'jvm/**'
defaults:
  run:
    working-directory: jvm
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        jre: [11]
        os: [ubuntu-latest, windows-latest]
        include:
          - jre: 17
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install JDK ${{ matrix.jre }}
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jre }}
      - name: gradle caching
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
      - run: git fetch origin main
      - run: ./gradlew :selfie-runner-junit5:testKotest
      - run: ./gradlew build
      - name: junit result
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          check_name: JUnit ${{ matrix.jre }} ${{ matrix.os }}
          report_paths: 'jvm/*/build/test-results/*/TEST-*.xml'
